/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
    align-items: flex-start;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}

.slider{
    position: relative;
}

.slider .slick-arrow{
    position: absolute;
    top: 40%;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 30px;
    background:none;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 0;
}

.slider .slick-arrow.slick-prev{
    left: 0;
    background-image:url('../images/prev.svg');
    background-repeat: no-repeat;
    
}

.slider .slick-arrow.slick-next{
    right: 0;
    background-image:url('../images/next.svg');
    background-repeat: no-repeat;
}

.slider .slider__item{

}


.slider .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider .slick-dots li{
    list-style: none;
    margin: 0 10px;
}
/* Активная точка */
.slider .slick-dots li.slick-active{}
/* Элемент точки */
.slider .slick-dots button{
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius:45%;
    border:none;
    background-color:#ff9800;
}

.slider .slick-dots li.slick-active button{
    background-color: #292827;
}

.slider__item{
    text-align: center;
    opacity: 0.4;
}

@media(max-width:575px) {
    .slider__item{
        opacity: 1;
    }
}

.slider__item.slick-center{
    opacity: 1;
}